//Shortcodes icon
.icon {
    &-bbfb_menus {
        background: url(../images/shortcodes/menu.png) !important;
        background-size: cover !important;
    }
    &-bbfb_social {
        background: url(../images/shortcodes/social.png) !important;
        background-size: cover !important;
    }
    &-bbfb_instagram {
        background: url(../images/shortcodes/instagram.png) !important;
        background-size: cover !important;
    }
}
.bbfb-bg-grey {
    background-color: #f9f9f9;
}
.bb-filter-input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 3px;
}